body {
    background-color: #fafafa;
}

/*                               Top nav                                    */

.navbar-brand {
    font-family: 'Bebas Neue';
    font-size: 2em;
    color: #F9968B !important;
}

.searchField {
    position: absolute;
    top: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.navbar-top {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.bg-dark {
    background-color: #26474E !important;
}

.navbar-toggler-icon {
    height: auto;
}

/*                               Bottom nav                                    */

.navbar-light .navbar-brand {
    color: #26474E !important;
}

.bg-light {
    background-color: #76CDCD !important;
}

/*                               Hero                                    */

h1 {
    font-family: 'Bebas Neue';
    color: #F9968B;
}

.lead {
    color: #f2f2f2;
}

.jumbotron {
    display: flex;
    align-items: center;
    height: 52vh;
    text-align: center;
    background-image: url(../images/heroBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .container {
    width: 50%;
}

/*                                Search                                    */

.form-row> [class*=col-] {
    padding-left: 10px;
}

/*                                Buttons                                    */

.btn-primary {
    background-color: #F27348;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active{
    background-color: #ED5C2A !important;
}

.btn-secondary {
    background-color: #26474E;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active{
    background-color: #0A272D !important;
}

.input-group-text {
    color: white;
}

/*                                Featured                                    */

.featured .col {
    height: 16vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.food1 {
    background-image: url(../images/foods/Screen\ Shot\ 2021-03-17\ at\ 7.11\ 2.jpg);
}

.food2 {
    background-image: url(../images/foods/Screen\ Shot\ 2021-03-17\ at\ 7.12\ 2.jpg);
}

.food3 {
    background-image: url(../images/foods/Screen\ Shot\ 2021-03-17\ at\ 7.13\ 3.jpg);
}

.food4 {
    background-image: url(../images/foods/Screen\ Shot\ 2021-03-17\ at\ 7.13\ 4.jpg);
}

.food5 {
    background-image: url(../images/foods/Screen\ Shot\ 2021-03-17\ at\ 8.43\ 3.jpg);
}

.food6 {
    background-image: url(../images/foods/Screen\ Shot\ 2021-03-17\ at\ 8.44\ 4.jpg);
}

.food7 {
    background-image: url(../images/foods/Screen\ Shot\ 2021-03-17\ at\ 8.44\ 5.jpg);
}

.food8 {
    background-image: url(../images/foods/Screen\ Shot\ 2021-03-17\ at\ 8.50\ 2.jpg);
}

/*                                Results                                    */

.searchResults .col {
    height: 16vw;
    background-repeat: no-repeat;
    background-size: cover;
}

/*                                Pagination                                    */

.page-link {
    background-color: #fafafa;
}