html {
    scroll-behavior: smooth;
}

body {
    background-color: #fafafa;
}

.container {
    max-width: 75%;
}

h1 {
    font-family: 'Bebas Neue';
    color: #F9968B;
}

h2 {
    color: #26474E !important;
}

.prodDes span {
    text-align: right;
    font-size: 1.25rem;
}

h4 {
    font-weight: 200;
}

h5,
p {
    margin-bottom: 0.25rem;
}

p {
    line-height: 1.65rem;
}

.salmon {
    color: #F9968B;
}

.turquoise {
    color: #76CDCD;
}

.row a {
    color: #26474E;
}

a:hover {
    text-decoration: none;
}

.float-right {
    z-index: 1;
}

.btn-block a {
    color: white;
    text-align: center;
}

.btn-block a:hover {
    color: white;
    text-align: center;
}

/*                               Top nav                                    */

.navbar-brand {
    font-family: 'Bebas Neue';
    font-size: 2em;
    color: #F9968B !important;
}

.searchField {
    position: absolute;
    top: 49.5%;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.navbar-top {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.bg-dark {
    background-color: #26474E !important;
}

.navbar-toggler-icon {
    height: auto;
}

/*                               Bottom nav                                    */

.navbar-light .navbar-brand {
    color: #26474E !important;
}

.bg-light {
    background-color: #76CDCD !important;
}

/*                               Hero                                    */

.lead {
    color: #f2f2f2;
    line-height: 2rem;
}

.jumbotron {
    display: flex;
    align-items: center;
    height: 52vh;
    text-align: center;
    background-image: url(../images/heroBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .container {
    width: 50%;
}

/*                                Search                                    */

.form-row>[class*=col-] {
    padding-left: 10px;
}

.searchField .form-control {
    font-size: 1.3em;
}

/*                                Buttons                                    */

.btn-primary {
    background-color: #F27348;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #ED5C2A !important;
}

.btn-secondary {
    background-color: #26474E;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background-color: #0A272D !important;
}

.input-group-text {
    color: white;
}

.btn-outline-dark {
    color: #0A272D;
    border-color: #BDBDBD;
}

.btn-outline-dark:hover {
    background-color: #26474E;
}

.disabled {
    pointer-events: none;
}

/*                                Featured                                    */

.square {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 100%;
}

.food1 {
    background-image: url(../images/foods/Screen\ Shot\ 2021-03-17\ at\ 8.50\ 2.jpg);
}

.food2 {
    background-image: url(../images/foods/Screen\ Shot\ 2021-03-17\ at\ 7.11\ 2.jpg);
}

.food3 {
    background-image: url(../images/foods/Screen\ Shot\ 2021-03-17\ at\ 7.13\ 3.jpg);
}

.food4 {
    background-image: url(../images/foods/Screen\ Shot\ 2021-03-17\ at\ 7.13\ 4.jpg);
}

.food5 {
    background-image: url(../images/foods/Screen\ Shot\ 2021-03-17\ at\ 8.43\ 3.jpg);
}

.food6 {
    background-image: url(../images/foods/Screen\ Shot\ 2021-03-17\ at\ 8.44\ 4.jpg);
}

.food7 {
    background-image: url(../images/foods/Screen\ Shot\ 2021-03-17\ at\ 8.44\ 5.jpg);
}

.food8 {
    background-image: url(../images/foods/Screen\ Shot\ 2021-03-17\ at\ 8.50\ 2.jpg);
}

/*                                Results                                    */

.item1 {
    background-image: url(../images/items/1.jpg);
}

.item2 {
    background-image: url(../images/items/2.jpg);
}

.item3 {
    background-image: url(../images/items/3.jpg);
}

.item4 {
    background-image: url(../images/items/4.jpg);
}

.item5 {
    background-image: url(../images/items/5.jpg);
}

.item6 {
    background-image: url(../images/items/6.jpg);
}

.item7 {
    background-image: url(../images/items/7.jpg);
}

.item8 {
    background-image: url(../images/items/8.jpg);
}

.item9 {
    background-image: url(../images/items/9.jpg);
}

.item10 {
    background-image: url(../images/items/10.jpg);
}

.item11 {
    background-image: url(../images/items/11.jpg);
}

.item12 {
    background-image: url(../images/items/12.jpg);
}

.pointer {
    cursor: pointer;
}

/*                                Product Page                                    */



/*                                Pagination                                    */

.page-link {
    background-color: transparent;
    color: #26474E;
}